<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand">Employee Management </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button style="margin-right: 1rem;"class="btn btn-outline-success" type="submit">Search</button>
      <a href="#"  class="btn btn-outline-success">Logout</a>
    </form>
  </div>
</nav>
<!-- <app-employee></app-employee> -->
<!-- <app-authentication></app-authentication> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
<!-- <app-admin></app-admin> -->